<a href="https://colab.research.google.com/github/Gaurangvasiyar/new_demo1/blob/main/demo_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Inline Comment to calculate sum of 2 numbers
def fun(a, b):
  return a + b
print("hi")

hi

In [6]:
# Multiline
# Comment
# Function to calculate
# sum of 2 numbers
'''
This is a function
to find sum
of 2 numbers.
This is an example of
docstring comment'''
def fun(a, b):
  return a + b

print(fun(4,5))

9

In [7]:
print("Hello World")
var = "Interviewbit"
print("My name is ", var)
print("My name is " + var)
print(123)
a = [1, 2, 3, 4]
print(a)

Hello World
My name is  Interviewbit
My name is Interviewbit
123
[1, 2, 3, 4]

In [9]:
print('Enter your name.')
myName = input()
print('Hello, {}'.format(myName))

Enter your name.
Gaurang vasiyar
Hello, Gaurang vasiyar

In [10]:
# For List
a = [1, 2, 3]
print(len(a))
# For string
a = "hello"
print(len(a))
# For tuple
a = ('1', '2', '3')
print(len(a))

3
5
3

In [11]:
#Print unicode of 'A'
print(ord('A'))
# Print unicode of '5'
print(ord('5'))
# Print unicode of '$'
print(ord('$'))

65
53
36

In [12]:
int_num = 100
float_num = 1.01
ans = int_num + float_num
print(type(int_num))
print(type(float_num))
# ans is implicitly typecasted to float type for greater precision
print(type(ans))

<class 'int'>
<class 'float'>
<class 'float'>

In [14]:
var = 123
str(var)
var = 123
float(var)

123.0

In [15]:
var = 7.8
print(int(var))

7

In [17]:
# and operator
print(True and False)
False
# or operator
print(True or False)
True
# not operator
print(not False)
True

False
True
True

True

In [18]:
var = "Good"
if var != "Good":
    print("Not Same")
else:
    print("Same")

Same

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

In [20]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [21]:
a = [1, 3, 5, 7]
for ele in a:
    print(ele)

1
3
5
7

In [22]:
count = 5
while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

In [23]:
for i in range(5):
    print(i)
    if i == 3:
        break

0
1
2
3

In [24]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
for i in range(5):
if i % 2 == 0:
pass
else:
print(i)

In [27]:
def func(x):
    if x == 'Hello':
        return True
    else:
        return False
print(func('hello'))

False

In [28]:
# Function to return sum of two numbers
def getSum(a, b):
    return a + b
# Function to print sum of 2 numbers
def printSum(a, b):
    print(a + b)
print(getSum(5, 6))
printSum(5, 6)

11
11

In [29]:
def func():
    global value
    value = "Local"
value = "Global"
func()
print(value)

Local

In [30]:
import math
print(math.pi)

3.141592653589793

In [32]:
# divide(4, 2) will return 2 and print Division Complete
# divide(4, 0) will print error and Division Complete
# Finally block will be executed in all cases
def divide(a, denominator):
    try:
        return a / denominator
    except ZeroDivisionError as e:
          print('Divide By Zero!! Terminate!!')
    finally:
          print('Division Complete.')

divide(10,0)

Divide By Zero!! Terminate!!
Division Complete.

In [ ]:
example = ["Sunday", "Monday", "Tuesday", "Wednesday"];
# Positive Indexing
print(example[0], example[1])
# Negative Indexing
print(example[-1])

In [35]:
example = ["Sunday", "Monday", "Tuesday", "Wednesday"];
example1 = ["Weekdays", "Weekends"]
# Concatenation
example = example + example1
print(example)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Weekdays', 'Weekends']

In [34]:
example = ["Sunday", "Monday", "Tuesday", "Wednesday"];
example1 = ["Weekdays", "Weekends"]
# Replication
example1 = example1 * 3
print(example1)

['Weekdays', 'Weekends', 'Weekdays', 'Weekends', 'Weekdays', 'Weekends']

In [36]:
example = ["Sunday", "Monday", "Tuesday", "Wednesday"];
print(example)
del example[2]
print(example)
example.insert(1, 'Days')
print(example)
example.append('Days')
print(example)

['Sunday', 'Monday', 'Tuesday', 'Wednesday']
['Sunday', 'Monday', 'Wednesday']
['Sunday', 'Days', 'Monday', 'Wednesday']
['Sunday', 'Days', 'Monday', 'Wednesday', 'Days']

In [37]:
example = ["Sunday", "Monday", "Tuesday", "Wednesday"];
for ex in example:
    print(ex)

Sunday
Monday
Tuesday
Wednesday

In [38]:
# Sorts in lexicographical order
example = ["Sunday", "Monday", "Tuesday", "Wednesday"];
print(example)
# Sort in ascending order
example.sort()
print(example)
# Sort in descending order
example.sort(reverse = True)
print(example)
example = [1, 5, 3, 7, 2]
# Sort in ascending order
example.sort()
print(example)
# Sort in descending order
example.sort(reverse = True)
print(example)

['Sunday', 'Monday', 'Tuesday', 'Wednesday']
['Monday', 'Sunday', 'Tuesday', 'Wednesday']
['Wednesday', 'Tuesday', 'Sunday', 'Monday']
[1, 2, 3, 5, 7]
[7, 5, 3, 2, 1]

In [39]:
# Defining and Initializing a tuple called example
example = ("First", "Second", "Third", "Fourth")
print(example)
print(example[1:3])

('First', 'Second', 'Third', 'Fourth')
('Second', 'Third')

In [40]:
# Convert list to a tuple
tuple(['first', 'second', 'third'])
# Convert tuple to a list
list(('first', 'second', 'third'))
# Convert string to a list
list("Scaler")

['S', 'c', 'a', 'l', 'e', 'r']

In [42]:
dict = {'first' : 'sunday', 'second' : 'monday', 'third' : 'tuesday'}
# dict.keys() method will print only the keys of the dictionary
for key in dict.keys():
    print(key)
# dict.values() method will print only the values of the corressponding keys of the dic
for value in dict.values():
    print(value)
for item in dict.items():
    print(item)
dict['fourth'] = 'wednesday'
for item in dict.items():
    print(item)
del dict['third']
for item in dict.items():
    print(item)

first
second
third
sunday
monday
tuesday
('first', 'sunday')
('second', 'monday')
('third', 'tuesday')
('first', 'sunday')
('second', 'monday')
('third', 'tuesday')
('fourth', 'wednesday')
('first', 'sunday')
('second', 'monday')
('fourth', 'wednesday')

In [43]:
dict1 = {'first' : 'sunday', 'second' : 'monday', 'third' : 'tuesday'}
dict2 = {1: 3, 2: 4, 3: 5}
dict1.update(dict2)
print(dict1)

{'first': 'sunday', 'second': 'monday', 'third': 'tuesday', 1: 3, 2: 4, 3: 5}

In [44]:
s = {1, 2, 3}
print(s)
s = set([1, 2, 3])
print(s)
s = {1, 2, 3, 3, 2, 4, 5, 5}
print(s)

{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4, 5}

In [45]:
s = {1, 2, 3, 3, 2, 4, 5, 5}
print(s)
# Insert single element
s.add(6)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [48]:

s = {1, 2, 3, 3, 2, 4, 5, 5}
# Insert multiple elements
s.update([6, 7, 8])
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:

s = {1, 2, 3, 3, 2, 4, 5, 5}
print(s)
# Remove will raise an error if the element is not in the set
s.remove(4)
print(s)
# Discard doesn't raise any errors
s.discard(1)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
{2, 3, 5}

In [50]:

a = {1, 2, 3, 3, 2, 4, 5, 5}
b = {4, 6, 7, 9, 3}
# Performs the Intersection of 2 sets and prints them
print(a & b)
# Performs the Union of 2 sets and prints them
print(a | b)
# Performs the Difference of 2 sets and prints them
print(a - b)
# Performs the Symmetric Difference of 2 sets and prints them
print(a ^ b)

{3, 4}
{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 5}
{1, 2, 5, 6, 7, 9}

In [51]:
a = [0, 1, 2, 3]
# b will store values which are 1 greater than the values stored in a
b = [i + 1 for i in a]
print(b)

[1, 2, 3, 4]

In [52]:
a = {0, 1, 2, 3}
# b will store squares of the elements of a
b = {i ** 2 for i in a}
print(b)

{0, 1, 4, 9}

In [53]:
a = {'Hello':'World', 'First': 1}
# b stores elements of a in value-key pair format
b = {val: k for k , val in a.items()}
print(b)

{'World': 'Hello', 1: 'First'}

In [54]:
a = "Hello"
print(a)
# Converts string to uppercase
print(a.upper())
# Converts string to lowercase
print(a.lower())
# Checks if string is uppercase
print(a.isupper())
# Checks if string is lowercase
print(a.islower())

Hello
HELLO
hello
False
False

In [55]:
list = ["One", "Two", "Three"]
# join function
s = ','.join(list)
print(s)

One,Two,Three

In [56]:
# split function
newList = s.split(',')
print(newList)

['One', 'Two', 'Three']

In [61]:
first = "first"
second = "second"
s = "Sunday is the {} day of the week, whereas Monday is the {} day of the week".format(first,second)
print(s)

Sunday is the first day of the week, whereas Monday is the second day of the week

In [60]:
from string import Template
name = 'Scaler'
t = Template('Hey $name!')
t.substitute(name = name)

'Hey Scaler!'

In [62]:
import datetime
tm = datetime.time(1, 30, 11, 22)
print(tm)

01:30:11.000022

In [63]:
from datetime import datetime
print(datetime.strptime('15/11/2000', '%d/%m/%Y'))

2000-11-15 00:00:00

In [64]:
from time import gmtime, strftime
s = strftime("%a, %d %b %Y %H:%M:%S + 1010", gmtime())
print(s)

Mon, 13 May 2024 06:34:45 + 1010

In [65]:
import re
landline = re.compile(r'\d\d\d\d-\d\d\d\d')
num = landline.search('LandLine Number is 2435-4153')
print('Landline Number is: {}'.format(num.group()))

Landline Number is: 2435-4153

In [66]:
import re
landline = re.compile(r'(\d\d\d\d)-(\d\d\d\d)')
num = landline.search('LandLine Number is 2435-4153')
# This will print the first group, which is the entire regex enclosed in the brackets
print(num.group(0))
# This will print the second group, which is the nested regex enclosed in the 1st set o
print(num.group(1))
# This will print the third group, which is the nested regex enclosed in the 2nd set of
print(num.group(2))

2435-4153
2435
4153

In [70]:
import traceback
try:
    raise Exception('Error Message.')
except:
      with open('error.txt', 'w') as error_file:
            error_file.write(traceback.format_exc())
print('The traceback info was written to error.txt.')

The traceback info was written to error.txt.

In [72]:
import logging

# Create and configure the logger
logging.basicConfig(filename="newfile.log", format='%(asctime)s %(message)s', filemode='w')

# Creates logging object
logger = logging.getLogger()

# Sets the level of logging to DEBUG
logger.setLevel(logging.DEBUG)

# Messages
logger.debug("Debug Message")
logger.warning("It's a Warning")
logger.info("Just an information")

DEBUG:root:Debug Message
WARNING:root:It's a Warning
INFO:root:Just an information

In [73]:
mul = lambda a, b: a * b
print(mul(3, 5))

15

In [74]:
f = 2
s = 2
# if the sum of f and s is greater than 0 the sum
# is printed, else 0 is printed
print(f + s if (f + s > 0) else 0)

4

In [76]:

# the function will take in a variable number of arguments
# and print all of their values
def tester(*argv):
    for arg in argv:
        print(arg)
tester('Sunday', 'Monday', 'Tuesday', 'Wednesday')

Sunday
Monday
Tuesday
Wednesday

In [77]:
# The function will take variable number of arguments
# and print them as key value pairs
def tester(**kwargs):
    for key, value in kwargs.items():
        print(key, value)
tester(Sunday = 1, Monday = 2, Tuesday = 3, Wednesday = 4)

Sunday 1
Monday 2
Tuesday 3
Wednesday 4

In [78]:
class Self:
    def __init__(self, x):
        self.x = x
ob = Self("One")
print(ob.x)

One

In [85]:
from dataclasses import dataclass
from typing import Any
@dataclass
class WithoutExplicitTypes:
  name: Any
  age: Any = 16